*{
  margin: 0;
  padding: 0;
}

html, body{
  background-image: url('../src/img/fondoMesero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
}

